In [1]:
import pandas as pd
import streamlit as st 
import plotly.express as px

from funcoes import *

In [3]:
dfT = process_file_for_tec("dados/2025-1_GestaoResultado_ResumoInscricoes_TEC.xlsx")
dfS = process_file_for_sub("dados/2025-1_GestaoResultado_ResumoInscricoes_SUB.xlsx")
dfG = process_file_for_grad("dados/2025-1_GestaoResultado_ResumoInscricoes_GRAD.xlsx")

In [4]:
dfAll = pd.concat([dfT, dfS, dfG])

In [5]:
dfAll

,Curso,Modalidade,Campus,Turno,Nivel,Inscritos,Pagos,Deferidas,Homologadas,FormaIngresso
0,ADMINISTRAÇÃO,Integrado,ARCOS,Turnos Manhã e Tarde,Médio,48,25,0,25,Processo Seletivo
1,MECÂNICA,Integrado,ARCOS,Turnos Manhã e Tarde,médio,17,11,0,11,Processo Seletivo
2,ADMINISTRAÇÃO,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,11,6,0,6,Processo Seletivo
3,AGROPECUÁRIA,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,40,18,0,18,Processo Seletivo
4,BIOTECNOLOGIA,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,15,8,0,8,Processo Seletivo
...,...,...,...,...,...,...,...,...,...,...
83,MATEMÁTICA,Licenciatura,SÃO JOÃO EVANGELISTA,Turno Noturno,Superior,1,0,0,0,Notas do Enem
84,MATEMÁTICA,Licenciatura,SÃO JOÃO EVANGELISTA,Turno Noturno,Superior,0,0,0,0,Redação Online
85,SISTEMAS DE INFORMAÇÃO,Bacharelado,SÃO JOÃO EVANGELISTA,Turno Manhã e Tarde,Superior,3,1,0,1,Notas do Enem
86,SISTEMAS DE INFORMAÇÃO,Bacharelado,SÃO JOÃO EVANGELISTA,Turno Manhã e Tarde,Superior,0,0,0,0,Redação Online
87,ENGENHARIA DE CONTROLE E AUTOMAÇÃO,Bacharelado,IBIRITÉ,Turno Manhã e Tarde,Superior,9,3,0,3,Notas do Enem

In [7]:
dfAll.groupby("Modalidade")[["Inscritos"]].sum().reset_index().sort_values(by='Inscritos', ascending=False)

                   Modalidade  Inscritos
1                   Integrado       2393
0                 Bacharelado        550
4                 Subsequente        276
5                 Tecnológico         74
2                Licenciatura         39
3  Licenciatura Campos Bambuí          4