In [3]:
import pandas as pd
import streamlit as st 
import plotly.express as px

from funcoes import *

In [4]:
dfT2024 = process_file_for_tec("dados/2024-1_GestaoResultado_ResumoInscricoes_TEC.xlsx")
# dfS2024 = process_file_for_sub("dados/2024-1_GestaoResultado_ResumoInscricoes_SUB.xlsx")
dfG2024 = process_file_for_grad("dados/2024-1_GestaoResultado_ResumoInscricoes_GRAD.xlsx")

dfT2025 = process_file_for_tec("dados/2025-1_GestaoResultado_ResumoInscricoes_TEC.xlsx")
dfS2025 = process_file_for_sub("dados/2025-1_GestaoResultado_ResumoInscricoes_SUB.xlsx")
dfG2025 = process_file_for_grad("dados/2025-1_GestaoResultado_ResumoInscricoes_GRAD.xlsx")

In [5]:
dfAll2024 = pd.concat([dfT2024, dfG2024])
dfAll2025 = pd.concat([dfT2025, dfS2025, dfG2025])

In [4]:
dfAll2024

,Curso,Modalidade,Campus,Turno,Nivel,Inscritos,Pagos,Deferidas,Homologadas,FormaIngresso
0,ADMINISTRAÇÃO,Integrado,FORMIGA,Turno Integral,Nível Fundamental,84,54,14,68,Processo Seletivo
1,ADMINISTRAÇÃO,Integrado,BAMBUÍ,Turno Integral,Nível Fundamental,66,47,4,51,Processo Seletivo
2,ADMINISTRAÇÃO,Integrado,OURO BRANCO,Turno Integral,Nível Fundamental,221,171,25,196,Processo Seletivo
3,ADMINISTRAÇÃO,Integrado,OURO PRETO,Turno Integral,Nível Fundamental,273,223,22,245,Processo Seletivo
4,ADMINISTRAÇÃO,Integrado,PONTE NOVA,Turno Integral,Nível Fundamental,339,282,28,310,Processo Seletivo
...,...,...,...,...,...,...,...,...,...,...
66,SISTEMAS DE INFORMAÇÃO,Bacharelado,OURO BRANCO,Turno Noturno,Nível Médio,108,64,22,86,Aproveitamento de notas obtidas no ENEM
67,SISTEMAS DE INFORMAÇÃO,Bacharelado,SABARÁ,Turno Matutino,Nível Médio,120,73,21,94,Aproveitamento de notas obtidas no ENEM
68,PROCESSOS GERENCIAIS,Tecnológico,PONTE NOVA,Turno Noturno,Nível Médio,23,8,4,12,Analise de Desempenho Escolar mais uma prova d...
69,PROCESSOS GERENCIAIS,Tecnológico,PONTE NOVA,Turno Noturno,Nível Médio,35,11,8,19,Aproveitamento de notas obtidas no ENEM
70,ZOOTECNIA,Bacharelado,BAMBUÍ,Turno Integral,Nível Médio,26,14,9,23,Aproveitamento de notas obtidas no ENEM

In [5]:
dfAll2025

,Curso,Modalidade,Campus,Turno,Nivel,Inscritos,Pagos,Deferidas,Homologadas,FormaIngresso
0,ADMINISTRAÇÃO,Integrado,ARCOS,Turnos Manhã e Tarde,Médio,48,25,0,25,Processo Seletivo
1,MECÂNICA,Integrado,ARCOS,Turnos Manhã e Tarde,médio,17,11,0,11,Processo Seletivo
2,ADMINISTRAÇÃO,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,11,6,0,6,Processo Seletivo
3,AGROPECUÁRIA,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,40,18,0,18,Processo Seletivo
4,BIOTECNOLOGIA,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,15,8,0,8,Processo Seletivo
...,...,...,...,...,...,...,...,...,...,...
83,MATEMÁTICA,Licenciatura,SÃO JOÃO EVANGELISTA,Turno Noturno,Superior,1,0,0,0,Notas do Enem
84,MATEMÁTICA,Licenciatura,SÃO JOÃO EVANGELISTA,Turno Noturno,Superior,0,0,0,0,Redação Online
85,SISTEMAS DE INFORMAÇÃO,Bacharelado,SÃO JOÃO EVANGELISTA,Turno Manhã e Tarde,Superior,3,1,0,1,Notas do Enem
86,SISTEMAS DE INFORMAÇÃO,Bacharelado,SÃO JOÃO EVANGELISTA,Turno Manhã e Tarde,Superior,0,0,0,0,Redação Online
87,ENGENHARIA DE CONTROLE E AUTOMAÇÃO,Bacharelado,IBIRITÉ,Turno Manhã e Tarde,Superior,9,3,0,3,Notas do Enem

In [26]:
dfx = dfAll2025.groupby(["Modalidade","Curso"])[["Inscritos"]].sum().reset_index()
dfx[(dfx['Modalidade'] != "Integrado") & (dfx['Modalidade'] != "Subsequente")].sort_values(by='Modalidade')

      Modalidade                                  Curso  Inscritos
0    Bacharelado                          ADMINISTRAÇÃO         88
16   Bacharelado                              ZOOTECNIA          5
14   Bacharelado                   MEDICINA VETERINÁRIA         66
13   Bacharelado                 ENGENHARIA METALÚRGICA         20
12   Bacharelado                    ENGENHARIA MECÂNICA         48
11   Bacharelado                   ENGENHARIA FLORESTAL          1
10   Bacharelado                    ENGENHARIA ELÉTRICA         37
9    Bacharelado                 ENGENHARIA DE PRODUÇÃO         22
15   Bacharelado                 SISTEMAS DE INFORMAÇÃO         51
7    Bacharelado                ENGENHARIA DE ALIMENTOS          0
6    Bacharelado               ENGENHARIA DA COMPUTAÇÃO          8
5    Bacharelado                       ENGENHARIA CIVIL         44
4    Bacharelado       ENGENHARIA AMBIENTAL E SANITÁRIA          8
3    Bacharelado                  CIÊNCIA DA COMPUTAÇÃO         41
2    Bacharelado                ARQUITETURA E URBANISMO         21
1    Bacharelado                              AGRONOMIA         22
8    Bacharelado     ENGENHARIA DE CONTROLE E AUTOMAÇÃO         68
45  Licenciatura                              PEDAGOGIA         17
44  Licenciatura                             MATEMÁTICA          3
43  Licenciatura              LETRAS (PORTUGUÊS INGLÊS)          4
41  Licenciatura                                 FÍSICA          5
40  Licenciatura                        EDUCAÇÃO FÍSICA          6
39  Licenciatura                    CIÊNCIAS BIOLÓGICAS          4
42  Licenciatura                              GEOGRAFIA          4
62   Tecnológico                              LOGÍSTICA         14
57   Tecnológico  ANÁLISE E DESENVOLVIMENTO DE SISTEMAS         22
58   Tecnológico                 CONSERVAÇÃO E RESTAURO          4
59   Tecnológico                   DESIGN DE INTERIORES          8
60   Tecnológico                       GESTÃO AMBIENTAL          2
61   Tecnológico                    GESTÃO DA QUALIDADE          6
63   Tecnológico                   PROCESSOS GERENCIAIS         18

In [29]:
lista_licenciatura = ["PEDAGOGIA","MATEMÁTICA","FÍSICA","EDUCAÇÃO FÍSICA","CIÊNCIAS BIOLÓGICAS","GEOGRAFIA"]
lista_tecnologico =  ["LOGÍSTICA","ANÁLISE E DESENVOLVIMENTO DE SISTEMAS","CONSERVAÇÃO E RESTAURO","DESIGN DE INTERIORES","GESTÃO AMBIENTAL","GESTÃO DA QUALIDADE","PROCESSOS GERENCIAIS"]

def tipo_curso(x):
    if x in lista_licenciatura: return "Licenciatura"
    if x in lista_tecnologico: return "Tecnológico"
    return "Bacharelado"

In [30]:
dfAll2024["Modalidade"] =  dfAll2024["Curso"].apply(tipo_curso)

0     Bacharelado
1     Bacharelado
2     Bacharelado
3     Bacharelado
4     Bacharelado
         ...
66    Bacharelado
67    Bacharelado
68    Tecnológico
69    Tecnológico
70    Bacharelado
Name: Curso, Length: 142, dtype: object

In [6]:
dfAll2024.groupby("Modalidade")[["Inscritos"]].sum().reset_index().sort_values(by='Inscritos', ascending=False)

     Modalidade  Inscritos
2     Integrado      13574
1   Bacharelado       2985
4   Subsequente       1319
5   Tecnológico        390
3  Licenciatura        300
0            -1          3

In [7]:
dfAll2025.groupby("Modalidade")[["Inscritos"]].sum().reset_index().sort_values(by='Inscritos', ascending=False)

     Modalidade  Inscritos
1     Integrado       2393
0   Bacharelado        554
3   Subsequente        276
4   Tecnológico         74
2  Licenciatura         39

In [10]:
diff(dfAll2024,dfAll2025, "Modalidade")

     Modalidade  Inscritos   Pagos  Deferidas  Homologadas
2     Integrado   -11181.0 -9452.0    -1392.0     -10844.0
1   Bacharelado    -2431.0 -1340.0     -549.0      -1889.0
4   Subsequente    -1043.0  -383.0     -152.0       -535.0
5   Tecnológico     -316.0  -131.0      -78.0       -209.0
3  Licenciatura     -261.0  -133.0      -69.0       -202.0
0            -1        NaN     NaN        NaN          NaN

In [7]:
dfAll2025

,Curso,Modalidade,Campus,Turno,Nivel,Inscritos,Pagos,Deferidas,Homologadas,FormaIngresso
0,ADMINISTRAÇÃO,Integrado,ARCOS,Turnos Manhã e Tarde,Médio,51,29,0,29,Processo Seletivo
1,MECÂNICA,Integrado,ARCOS,Turnos Manhã e Tarde,médio,17,14,0,14,Processo Seletivo
2,ADMINISTRAÇÃO,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,12,6,0,6,Processo Seletivo
3,AGROPECUÁRIA,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,47,22,0,22,Processo Seletivo
4,BIOTECNOLOGIA,Integrado,BAMBUÍ,Turnos Manhã e Tarde,médio,15,8,0,8,Processo Seletivo
...,...,...,...,...,...,...,...,...,...,...
83,MATEMÁTICA,Licenciatura,SÃO JOÃO EVANGELISTA,Turno Noturno,Superior,1,0,0,0,Notas do Enem
84,MATEMÁTICA,Licenciatura,SÃO JOÃO EVANGELISTA,Turno Noturno,Superior,0,0,0,0,Redação Online
85,SISTEMAS DE INFORMAÇÃO,Bacharelado,SÃO JOÃO EVANGELISTA,Turno Manhã e Tarde,Superior,3,1,0,1,Notas do Enem
86,SISTEMAS DE INFORMAÇÃO,Bacharelado,SÃO JOÃO EVANGELISTA,Turno Manhã e Tarde,Superior,0,0,0,0,Redação Online
87,ENGENHARIA DE CONTROLE E AUTOMAÇÃO,Bacharelado,IBIRITÉ,Turno Manhã e Tarde,Superior,10,3,0,3,Notas do Enem

In [29]:
soma_colunas = dfAll2025[["Inscritos", "Pagos", "Deferidas", "Homologadas"]].sum()
df_soma = pd.DataFrame(soma_colunas, columns=["total"]).reset_index()
df_soma

         index  total
0    Inscritos   3655
1        Pagos   1365
2    Deferidas      0
3  Homologadas   1365

In [30]:
fig = px.pie(df_soma, values='total', names='index', title='Population of European continent')
fig.show()